div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.img:hover {
    border: 1px solid #777;
  }
  
  div.img img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

  .gal{
    display: flex;
    flex-wrap: wrap; margin: auto;
}
.gal img{
    width: 30%; height: 30%;
    padding: 10px;
    transition: .2s linear;
}
.gal img:hover{
    transform: scale(1.1);
}
.gal-container .popup-image{
    position: fixed;
    top: 0; left: 0;
    background: rgba(0, 0, 0, 0.9);
    height: 100%; width: 100%; z-index: 100;
    display: none;
}
.gal-container .popup-image img{
  position: absolute;
  top: 60px; right: 20%;
  width: 30%;
  height: 90%;
}